<link rel="stylesheet" type="text/css" href="styles.css" / >

body {
    background-color: green;
    background-image: url('G:/App Dev 2/NSKStore/wwwroot/Image/LandingPage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
