@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">
        Founded in 1985 as New Seng Kee Trade City, also known as NSK Trade City The Lim family's trading, wholesale, and retail grocery business began as a tiny kiosk in Chow Kit Market and offers both food and non-food items. NSK has 30 stores, the largest of which is in Kuala Lumpur. It provides a large selection of reasonably priced, high-quality domestic and imported goods. The company features a sizable restaurant, dry goods, fresh food, and wholesale departments. It just opened its thirty-first location at Shah Alam's Star Avenue Lifestyle Mall.
    </h1>
</div>